<ion-content>
  <h2 class="ion-margin"> Liste de courses</h2>
  <ion-list inset="" true>
    <ion-item *ngFor="let elt of cours" [style.color]="'black'">
      <ion-card class="ion-justify-content-center">
        <ion-card-header>
          <!-- <ion-card-title>{{elt.name}}</ion-card-title> -->
          <ion-card-subtitle>sous-titre</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          nb étudiants : {{elt.nb_etud}}
        </ion-card-content>
        <a routerLink="/home">Vers home</a>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
